PORT=4000
FRONTEND_URL=http://localhost:4200
NODE_ENV=production
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=daw
DB_PASSWORD=2026
DB_NAME=gestor_proyectos_grupo_m
DB_LOGGING=true
SWAGGER_HABILITADO=true
SESSION_DURATION_HOURS=8
