PORT=3000
FRONTEND_URL=http://localhost:4200

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=daw
DB_PASSWORD=2026
DB_NAME=gestor_de_proyectos
DB_LOGGING=true

SWAGGER_HABILITADO=true

JWT_SECRET=change_this_secret
